@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@100;300;800&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root {
    --bg_color:#0E0E0E;
    --txt_color:#ffffff;
    --red_color:#c83c3c93;

    --font_famOne:'Poppins', sans-serif;
}
html, body{
    width: 100%;
    height: 100%;
    background-color: var(--bg_color);
    position: relative;
}
.blockProducts {
    width: 100%;
    height: 100vh;
    /* background-color: chocolate; */
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
    /* justify-content: center; */
    gap: 20px;
}
h3, h2{
    color: var(--txt_color);
    font-family: var(--font_famOne);
    font-weight: 200;
}
.banner{
    width: 80%;
    max-width: 80%;
    height: 200px;
    background-color: black;
}
.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.tableOne, .tableTwo {
    max-width: 80%;
    width: 80%;
    background-color: black;
}
.tableOne {
    height: 200px;
}
.tableTwo {
    height: 500px;
    margin-bottom: 10px;
}