@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@100;300;800&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root {
    --bg_color:#0E0E0E;
    --txt_color:#ffffff;
    --red_color:#c83c3c93;
    --red_color_two:#c83c3c;

    --font_famOne:'Poppins', sans-serif;
}
html, body{
    width: 100%;
    height: 100%;
    background-color: var(--bg_color);
    position: relative;
}
.burguerMenu {
    display: none;
}
.flutterMenu{
    position: fixed;
    z-index: 11;
    height: 150px;
    width: 50px;
    left: 10px;
    top: 40%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap: 15px; */
}
.flutterMenu .small {
    display: none !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.flutterMenu .small span {
    margin: 0px 10px;
    font-size: 30px;
}
.flutterMenu .small a {
    color: var(--txt_color);
}
.flutterMenu .large span{
    font-size: 25px;
}
.flutterMenu .large span i{
    cursor: pointer;
    margin: 10px 0px;
}
.flutterMenu .large span a{
    color: var(--txt_color) !important;
}
/* HEADER */
.firstIten {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* padding: 20px; */
    height: 13vh;
    background-color: var(--bg_color);
    position: fixed;
    z-index: 10;
}
.firstIten .logoImage {
    width: 50px;
    height: 50px;
}
.firstIten .logoImage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.firstIten nav ul{
    display: flex;
    list-style: none;
    font-family: var(--font_famOne);
}
.firstIten nav ul li{
    margin: 0px 30px;
    font-size: 14px;
}
.firstIten nav ul li a{
    color: var(--txt_color);
    text-decoration: none;
}
.firstIten nav ul li a:hover{
    opacity: 60%;
    transition: .6s;
}
.selected{
    color: #D36A6A !important;
    border-bottom: 1px solid #D36A6A;
}
/* BUTTON */
.contact0{
    background-color: var(--red_color);
    color: var(--txt_color);
    padding: 10px 20px;
    border-radius: 20px;
    font-family: var(--font_famOne);
    border: none;
    cursor: pointer;
}

/* SECTION MAIN */
.content{
    width: 100%;
    height: auto;
    top: 100px;
    position: absolute;
    left: 0px;
}
.content .heroApresentation{
    width: 100%;
    height: 50vh;
    /* background-color: #D36A6A; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.content .heroApresentation .bgVideo {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #D36A6A;
    opacity: 1%;
    top: 0px;
    left: 0px;
}
.content .heroApresentation .bgVideo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content .heroApresentation .bloco{
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    animation: upBloco 2s linear;
    z-index: 9;
}
@keyframes upBloco {
    0% {
        opacity: 0%;
        margin-top: 30px;
    }
    90%{
        opacity: 100%;
        margin-top: 0px;
    }
}
.content .heroApresentation .bloco h3{
    font-weight: 100;
    color: var(--txt_color);
    font-family: var(--font_famOne);
    text-transform: uppercase;
}
.content .heroApresentation .bloco h1{
    font-size: 40px;
    text-align: center;
    /* margin-bottom: 10px; */
    color: var(--txt_color);
    font-family: var(--font_famOne);
    font-weight: 500;
}
.content .heroApresentation .bloco h2{
    font-size: 40px;
    margin-top: -20px;
    text-align: center;
    /* margin-bottom: 10px; */
    color: var(--txt_color);
    font-family: var(--font_famOne);
    font-weight: 500;
}
.content .heroApresentation .bloco p{
    font-size: 14px;
    color: var(--txt_color);
    font-family: var(--font_famOne);
    text-transform: uppercase;
}
.content .heroApresentation .bloco button{
    width: 200px;
    margin-top: 30px;
    padding: 10px ;
    border-radius: 30px;
    border: none;
    background-color: var(--red_color);
    color: var(--txt_color);
    text-transform: uppercase;
    cursor: pointer;
}

.content .AbreviatorApresentation{
    width: 100%;
    height: 37vh;
    background-color: #2222223d;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}
.content .AbreviatorApresentation .blocoImageAbreviator{
    width: 200px;
    height: 200px;
    background-color: darkgrey;
}
.content .AbreviatorApresentation .blocoImageAbreviator img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content .AbreviatorApresentation .txtBlocoAbreviator{
    /* background-color: #D36A6A; */
    max-width: 800px;
    height: 200px;
    padding: 10px;
    color: var(--txt_color);
    font-family: var(--font_famOne);
}
.content .AbreviatorApresentation .txtBlocoAbreviator h2{
    margin-bottom: 20px;
    color: var(--red_color);
}
.content .AbreviatorApresentation .txtBlocoAbreviator p{
    font-size: 12px;
}









/* BREAK one ON 725px */

@media screen and (max-width:725px) {
    .firstIten nav{
        display: none;
    }
}
@media screen and (max-width:500px) {
    .content .AbreviatorApresentation{
        padding-top: 30px;
    }
    .content .AbreviatorApresentation .blocoImageAbreviator{
        width: 90%;
    }
    .flutterMenu{
        top: 93%;
        left: 50%;
        transform: translateX(-50%);
        flex-direction: row;
        background-color: var(--red_color_two);
        width: 90%;
        height: auto;
        padding: 10px 20px;
        border-radius: 10px 10px 0px 0px;
    }
    .flutterMenu .large {
        display:none !important;
    }
    .flutterMenu .small {
        display: block !important;
        height: auto;
    }
    .content .AbreviatorApresentation{
        height: auto !important;
        padding-bottom: 60px;
    }
    .content .AbreviatorApresentation .txtBlocoAbreviator{
        height: auto;
    }
}